<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicShop</title>
    <link rel="stylesheet" href="~/css/Spacelab.css" />
    <link rel="stylesheet" href="~/MusicShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">Home </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Customer</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Customer" asp-action="Index">Customer List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Customer" asp-action="DetailedList">Customer Details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Customer" asp-action="CreateUpdate">Create New Customer</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manufacturer</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Manufacturer" asp-action="Index">Manufacturer List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Manufacturer" asp-action="CreateUpdate">Create New Manufacturer</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instrument</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Nstrument" asp-action="Index">Instrument List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Nstrument" asp-action="CreateUpdate">Create New Instrument</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Order" asp-action="Index">Order List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Order" asp-action="DetailedList">Order Details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Order" asp-action="CreateUpdate">Create New Order</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            ©Copyright 2022 MusicShop. All rights reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
